
<%= render "shared/master_navbar" %>
<div class="container-banner"> </div>

<div class="container-dashboard" data-controller="dashboard" >

  <div class="container-title " >
    <h2 class="text-center mb-5">Dashboard Overview</h2>
    <%# <a href= "/shipments" class="btn btn-light custom-bg-blue">Return</a> %>
    <%# <p>Date Selector</p> %>
  </div>

  <div class="grid-container">
    <div class="area1">

      <div class="container-totals d-flex justify-content-around">

          <div class="card-border-light mb-3" style="max-width: 18rem;">
            <div class="card-header"> <%= image_tag 'carbon-footprint.png', alt: 'Co2', class: 'dashboard-icon' %> <strong> Total CO-2 emissions </strong> </div>
            <div class="card-body text-dark">
              <p class="card-text text-center"> <%= @shipments.sum(:co2_emissions).round(2) %> kg </p>
            </div>
          </div>

          <div class="card-border-light mb-3" style="max-width: 18rem;">
            <div class="card-header"> <%= image_tag 'delivery.png', alt: 'Deliveries', class: 'dashboard-icon' %> <strong> Total of deliveries </strong> </div>
            <div class="card-body text-dark">
              <p class="card-text text-center"> <%= @shipments.count %> </p>
            </div>
          </div>

          <div class="card-border-light mb-3" style="max-width: 18rem;">
            <div class="card-header"> <%= image_tag 'distance.png', alt: 'Distance', class: 'dashboard-icon' %> <strong> Total distance traveled </strong> </div>
            <div class="card-body text-dark">
              <p class="card-text text-center"> <%= @shipments.sum(:distance_traveled).round(2) %> km </p>
            </div>
          </div>

          <div class="card-border-light mb-3" style="max-width: 18rem;">
            <div class="card-header"> <%= image_tag 'fuel.png', alt: 'Fuel', class: 'dashboard-icon' %> <strong> Total fuel consumption</strong> </div>
            <div class="card-body text-dark">
              <p class="card-text text-center"> <%= @shipments.sum(:fuel_consumption).round(2) %> L </p>
            </div>
          </div>
      </div>
    </div>

    <div class="area2">
        <div class="card text-center mt-3">
          <div class="card-header">
            <h5 class="card-title"> <strong> Total Co2 emissions per product </strong> </h5>
          </div>
          <div class="card-body">
            <p class="card-text">  <%= column_chart Shipment.group(:product_name).sum(:co2_emissions), xtitle: "Product", ytitle: "CO-2 Emissions", download: true, thousands: ","  %>
            </p>
          </div>
          <div class="card-footer text-muted">
          </div>
          </div>
    </div>



    <div class="area3">
    <div class="text-page d" style="text-center;">
     <h4 class="recommendation mt-2">Recommendations  <%= image_tag 'insight.png', alt: 'Fuel', class: 'dashboard-icon' %> </h4>
     <div class="insights">
      <h6>
      <p>Fitness trackers, Digital Cameras & Bluetooth Speaker have the highest CO2-Emissions</p>
      <p>Reduce the usage of heavy truck shipments and use 4 and 6 Cylinder </p>
      <p>The usage of Diesel & Gasoline is at an equal rate</p>
      <p>Reykjavic & Barcelona cause the highest CO2-Emissions</p>
      <p>Glasgow, Warsaw, Minks & Zagred are your most frequent destinations</p>
      </h6>
     </div>
    </div>


    </div>

 <%#    <%= image_tag 'co2-emissions.png', alt: 'Radar', class: 'card-img' %>

  </div>

    <div class="placeholder m-2">
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#product" type="button" role="tab" aria-controls="product" aria-selected="true">Product Metrics</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#vehicle" type="button" role="tab" aria-controls="vehicle" aria-selected="false">Vehicle Metrics</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#fuel" type="button" role="tab" aria-controls="fuel" aria-selected="false">Fuel Metrics</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#distance" type="button" role="tab" aria-controls="distance" aria-selected="false">Distance Metrics</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active d-flex align-items-center flex-wrap"  id="product" role="tabpanel" aria-labelledby="product-tab" data-controller="dashboard">
          <div class="wrapper m-2 p-2" >
              <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
                <div class="graphic">  <%= column_chart Shipment.group(:product_name).sum(:co2_emissions), xtitle: "Product", ytitle: "CO-2 Emissions", download: true, thousands: ","  %> </div>
                <div class="brief">
                  <div class="typo"><span>Total Co2 emissions per product</span></div>
                </div>
              </div>
            </div>

            <div class="wrapper m-2 p-2">
              <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
                <div class="graphic">   <%= column_chart Shipment.group(:product_name).sum(:co2_emissions), xtitle: "Product", ytitle: "CO-2 Emissions", download: true, thousands: ","  %> </div>
                  <div class="brief">
                  <div class="typo"><span> Product shipment frequency </span></div>
                </div>
              </div>
            </div>

            <div class="wrapper m-2 p-2">
              <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
                <div class="graphic">   <%= bar_chart Shipment.group(:product_name).sum(:distance_traveled), xtitle: "Distance (km)", ytitle: "Product", download: true, thousands: "," %> </div>
                  <div class="brief">
                  <div class="typo"><span> Total distance traveled per product </span></div>
                </div>
              </div>
            </div>

            <div class="wrapper m-2 p-2">
              <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
                <div class="graphic">   <%= bar_chart Shipment.group(:product_name, :vehicle_type).count, xtitle: "Product Count", ytitle: "Vehicle Type", download: true, thousands: "," %> </div>
                  <div class="brief">
                  <div class="typo"><span> Vehicle type per product </span></div>
                </div>
              </div>
            </div>

            <div class="wrapper m-2 p-2">
              <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
                <div class="graphic">   <%= line_chart Shipment.group(:city, :product_name).count, xtitle: "Product",   ytitle:  "Destination Frequency" , download: true, thousands: "," %> </div>
                  <div class="brief">
                  <div class="typo"><span> Most frequent destination per product </span></div>
                </div>
              </div>
            </div>
        </div>
        <div class="tab-pane fade d-flex align-items-center flex-wrap" id="vehicle" role="tabpanel" aria-labelledby="contact-tab" data-controller="dashboard">
          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">   <%= column_chart Shipment.group(:vehicle_type).sum(:co2_emissions), xtitle: "Vehicle", ytitle: "CO-2 Emissions", download: true, thousands: ","%> </div>
              <div class="brief">
                <div class="typo"><span>Total Co2 emissions per vehicle</span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">  <%= line_chart Shipment.group(:vehicle_type).group_by_week(:shipment_start).count, xtitle: "Date", ytitle: "Frequency", download: true, thousands: "," %> </div>
              <div class="brief">
                <div class="typo"><span>Vehicle usage frequency</span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">  <%= bar_chart Shipment.group(:vehicle_type).sum(:distance_traveled), xtitle: "Distance (km)", ytitle: "Vehicle", download: true, thousands: "," %> </div>
              <div class="brief">
                <div class="typo"><span>Distance traveled per vehicle</span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">  <%= bar_chart Shipment.group(:vehicle_type).sum(:fuel_consumption), xtitle: "Fuel Consumption", ytitle: "Vehicle Type", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Total fuel consumption per Vehicle </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">   <%= bar_chart Shipment.group(:vehicle_type, :fuel_type).count, xtitle: "Number of Vehicle Type", ytitle: "Fuel Type", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Fuel type per vehicle  </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= line_chart Shipment.group(:city, :vehicle_type).count, xtitle: "Vehicle", ytitle: "Destination Frequency", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Most frequent destination per vehicle  </span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade d-flex align-items-center flex-wrap" id="fuel" role="tabpanel" aria-labelledby="contact-tab" data-controller="dashboard">
          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">   <%= column_chart Shipment.group(:fuel_type).sum(:co2_emissions), xtitle: "Fuel Type", ytitle: "CO-2 Emissions", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Total Co2 emissions per Fuel type </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= line_chart Shipment.group(:fuel_type).group_by_week(:shipment_start).count, xtitle: "Date", ytitle: "Frequency", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Fuel type usage frequency </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= bar_chart Shipment.group(:fuel_type).sum(:distance_traveled), xtitle: "Distance (km)", ytitle: "Fuel Type", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Distance traveled per fuel type </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= bar_chart Shipment.group(:fuel_type).sum(:fuel_consumption), xtitle: "Fuel Consumption", ytitle: "Fuel Type", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Total fuel consumption per fuel type </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= bar_chart Shipment.group(:city, :fuel_type).count, xtitle: "Destination Frequency", ytitle: "Fuel Type", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Most frequent destination per fuel type  </span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade d-flex align-items-center flex-wrap" id="distance" role="tabpanel" aria-labelledby="contact-tab" data-controller="dashboard">
          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">   <%= column_chart Shipment.group(:city).sum(:co2_emissions), xtitle: "Destination", ytitle: "CO-2 Emissions", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Total Co2 emissions per Delivery Destination / City  </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">   <%= line_chart Shipment.group(:city).group_by_week(:shipment_start).count, xtitle: "Date", ytitle: "Frequency", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>City as destination frequency </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= bar_chart Shipment.group(:city).sum(:distance_traveled), xtitle: "Distance (km)", ytitle: "Destination", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Distance traveled per city  </span></div>
              </div>
            </div>
          </div>

          <div class="wrapper m-2 p-2">
            <div class="item" data-action="click->dashboard#toggleAnimate"> <span class="close"></span>
              <div class="graphic">    <%= bar_chart Shipment.group(:city).sum(:fuel_consumption), xtitle: "Fuel Consumption", ytitle: "Destination", download: true, thousands: "," %></div>
              <div class="brief">
                <div class="typo"><span>Total fuel consumption used for delivery to city  </span></div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

</div>
  <%# <%# <%= line_chart Shipment.group_by_day(:shipment_start, range: 1.month.ago.midnight..Time.now).sum(:co2_emissions), download: true %>
  <%# <%= pie_chart Shipment.group(:product_name).count, download: true %>
  <%# <%= column_chart Shipment.group_by_day_of_week(:shipment_start, format: "%a").count, download: true %>
  <%# <%= bar_chart Shipment.group(:vehicle_type).sum(:id), download: true %>
