<div class="form-inputs">
  <% if @shipment.errors.any? %>
    <% @shipment.errors.full_messages.each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
  <% end %>
  <%= simple_form_for @shipment, html: { id: "new_shipment" } do |f| %>
    <%= f.input :product_name %>
    <%= f.input :city %>
    <%= f.input :shipment_start %>
    <%= f.input :shipment_end %>
    <%= f.input :vehicle_type, as: :select, collection: ['4 Cylinder', '6 Cylinder', '8 Cylinder', 'Heavy Truck', 'Medium Truck'] %>
    <%= f.input :fuel_type, as: :select, collection: ['Gasoline', 'Diesel'], label: 'Fuel Type' %>
    <%= f.input :start_location %>
    <%= f.input :end_location %>
    <%= f.hidden_field :distance_traveled, id: 'distance_traveled' %>

    <%= f.button :submit, 'Add Shipment', class: 'btn btn-primary' %>
  <% end %>
</div>
