<div class="form-inputs">
  <% if @shipment.errors.any? %>
    <% @shipment.errors.full_messages.each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
  <% end %>
  <%= simple_form_for @shipment, html: { id: "new_shipment" }, data: { controller: 'flatpickr' } do |f| %>
    <div class="form-field product-name">
      <%= f.input :product_name %>
    </div>
    <div class="form-field">
      <div class="date-field">
        <%= f.input :shipment_start, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>

        <%= f.input :shipment_end, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
      </div>
    </div>

    <div class="form-field">
      <div class="date-field">
        <%= f.input :vehicle_type, as: :select, collection: ['4 Cylinder', '6 Cylinder', '8 Cylinder', 'Heavy Truck', 'Medium Truck'] %>

        <%= f.input :fuel_type, as: :select, collection: ['Gasoline', 'Diesel'], label: 'Fuel Type' %>
      </div>
    </div>

    <div class="form-field">
      <div class="date-field">
        <%= f.input :start_location %>
        <%= f.input :end_location %>
      </div>
    </div>

    <div class="form-field">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <%# Only show for update %>
    <% if @shipment.persisted? %>
      <div class="form-field">
        <%= f.hidden_field :distance_traveled, id: 'distance_traveled' %>
      </div>
    <% end %>

    <%= f.button :submit, 'Submit', class: 'btn btn-light custom-bg-blue' %>
  <% end %>
</div>
