<div class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
     <div class="title-page" style="d-flex justify-content-lg-center;"><h1>EcoWheels
   <%= image_tag "earth_logo.png", class: "logo", style: 'height: 50px;'%>
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>
    </h1></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#shipmentsNavbar" aria-controls="shipmentsNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="shipmentsNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Shipments", shipments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Shipment', new_shipment_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#filterForm">
            Toggle Filter
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
