
<%# <%= render "shipments/navbar_shipment" %>
<%= render "shared/master_navbar" %>
<% content_for :body_class, 'index-page' %>

<div class="container-banner">
</div>
<<<<<<< HEAD
<div class="collapse mb-4" id="filterForm">
  <%= form_with url: shipments_path, method: :get, local: true do |form| %>
    <%= form.text_field :city, value: params[:city], placeholder: 'Destination', class: 'form-control mb-2' %>
    <%= form.select :vehicle_type,
                    ['4 Cylinder', '6 Cylinder', '8 Cylinder', 'Heavy Truck', 'Medium Truck'],
                    { selected: params[:vehicle_type], include_blank: 'Vehicle Type' },
                    class: 'form-control mb-2' %>

    <%= form.select :fuel_type,
                    ['Gasoline', 'Diesel'],
                    { selected: params[:fuel_type], include_blank: 'Fuel Type' },
                    class: 'form-control mb-2' %>
    <%= form.text_field :product_name, value: params[:product_name], placeholder: 'Items', class: 'form-control mb-2' %>
    <%= form.date_field :shipment_start, value: params[:shipment_start], placeholder: 'Order Date', class: 'form-control mb-2' %>
    <%= form.date_field :shipment_end, value: params[:shipment_end], placeholder: 'Delivery Date End', class: 'form-control mb-2' %>
    <%= form.number_field :co2_emissions, value: params[:co2_emissions], placeholder: 'CO2 Emissions', class: 'form-control mb-2' %>
    <%= form.submit 'Submit', class: 'btn btn-primary mt-2' %>
  <% end %>
</div>


=======
>>>>>>> master

<%# First container in The index page -  elements on the top page of the page %>

<div class="search-index">

  <%# Left side elements %>

  <div class="index-left">

    <div class="icon-index">
      <i class="fa-solid fa-house fa-2xl" style="color: #08912a;"></i>
    </div>

    <div class="nav-item search-box">
      <%= form_with url: shipments_path, method: :get, class: "d-flex" do |f| %>
        <div class="search-input">
          <%= f.text_field :query, value: params[:query], class: "form-control", placeholder: "Track your shipment" %>
          <%= f.submit "", class: "button-search", style: "margin-top: 1rem ; margin-bottom:2rem;" %>
        </div>
      <% end %>
      <div class="search-icon">
       <i class="fa-solid fa-magnifying-glass"></i>
       </div>
    </div>
<<<<<<< HEAD

    <div class="nav-item">
        <a class="btn btn-light custom-bg-blue" href="#" data-bs-toggle="collapse" data-bs-target="#filterForm">
            Filter
        </a>
    </div>
=======
    

>>>>>>> master

  </div>

  <%# right side elements onthe top of the page %>

  <div class="index-right">

    <div class="user-details">

      <div id="currentDateTime"></div>

      <div class= "bell">
        <i class="fa-regular fa-bell fa-xl"></i>
      </div>

      <div class="name-index">
        <% if user_signed_in? %>
          <%= current_user.first_name %> <%= current_user.last_name %></p>
        <% end %>
      </div>

    </div>
  </div>

</div>

<%# ------------ End of first container in the index page ---------- %>



<%# ------------ Starting of the box in the index page  ---------- %>

<div class="container-index-new-1">

  <div class="image-in-index">

    <%= image_tag('https://t4.ftcdn.net/jpg/04/90/04/55/360_F_490045515_Yad58zVeAXoxmDTrpW9w2FhY1JNzIoGh.jpg', class: 'new-image-index-2') %>
  </div>
  <%# first box %>

  <div class="innerboxindex">

    <div class="index-new-card-1">

      <div class="index-new-title-1">
        <h4> Distance Traveled </h4>
        <p class="card-text text-center"> <%= @shipments.sum(:distance_traveled).round(1) %> km </p>
      </div>

      <div class="emission-image-index">
        <%= image_tag('https://static.thenounproject.com/png/1003828-200.png', alt: 'Root image - idex', class: 'root-image-index') %>
      </div>

    </div>

    <%# second box %>

    <div class="index-new-card-1">

      <div class="index-new-title-1">
        <h4> Co2 Emissions </h4>
        <p class="card-text text-center"> <%= @shipments.sum(:co2_emissions).round(1) %> kg </p>
      </div>

      <div class="emission-image-index">
        <%= image_tag('https://www.svgrepo.com/show/214706/factory-pollution.svg', class: 'emission-image-index') %>
      </div>

    </div>

    <%# third box %>
    <div class="index-new-card-1">

      <div class="index-new-title-1">
        <h4> Fuel Consumption </h4>
        <p class="card-text text-center"> <%= @shipments.sum(:fuel_consumption).round(1) %> L </p>
      </div>

      <div class="emission-image-index">
        <%= image_tag('gas-station.png', class: 'gas-image-index') %>
      </div>

    </div>

    <%# forth box  %>
    <div class="index-new-card-1">

      <div class="index-new-title-1">
        <h4> Total Shipments </h4>
        <p class="card-text text-center"> <%= @shipments.sum(:distance_traveled).round(1) %> km </p>
      </div>

      <div class="emission-image-index">
        <%= image_tag('https://cdn-icons-png.flaticon.com/512/5952/5952766.png', alt: 'Root image - idex', class: 'root-image-index') %>
      </div>

    </div>
  </div>
</div>

<%# ------------ start of third container in the index page ---------- %>

<div class="container-index mt-5">
  <div class="row">
    <div class="col" data-controller="filter">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-index">
          <div class="status-buttons">
            <h4 class="mb-1">Shipments Status</h4>
            <%= link_to "Completed", shipments_path(status: "completed"), class: "btn btn-light filter-buttons-index #{'active' if params[:status] == 'completed'}", data: { action: "click->filter#filterByStatus" } %>
            <%= link_to "Scheduled", shipments_path(status: "scheduled"), class: 'btn btn-light filter-buttons-index scheduled', data: { action: "click->filter#filterByStatus" } %>
            <%# <%= link_to "Canceled", shipments_path(status: "canceled"), class: 'btn btn-light', data: { action: "click->filter#filterByStatus" } %>
            <%# <%= link_to "All", shipments_path, class: 'btn btn-light', data: { action: "click->filter#filterByStatus" } %>
            
          </div>
          <div class="nav-item">
            <a class="btn btn-light custom-bg-blue" href="#" data-bs-toggle="collapse" data-bs-target="#filterForm">
                Filter
            </a>
          </div>
        </div>



        <div class="mb-2">
          <%= link_to "Add Shipment", new_shipment_path, class: 'btn btn-light custom-bg-blue' %>
        </div>
      </div>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="collapse mb-4 " id="filterForm">
        <%= form_with url: shipments_path, method: :get, local: true do |form| %>
        <div class="form-group">
            <!-- First Row -->
            <div class="row align-items-center">
                <div class="col-12 col-sm-3 mb-2">
                    <%= form.label :vehicle_type, 'Vehicle Type', class: 'col-form-label' %>
                    <%= form.select :vehicle_type, 
                                    ['4 Cylinder', '6 Cylinder', '8 Cylinder', 'Heavy Truck', 'Medium Truck'], 
                                    { selected: params[:vehicle_type], include_blank: 'Vehicle Type' }, 
                                    class: 'form-control' %>
                </div>
                <div class="col-12 col-sm-3 mb-2">
                    <%= form.label :fuel_type, 'Fuel Type', class: 'col-form-label' %>
                    <%= form.select :fuel_type, 
                                    ['Gasoline', 'Diesel'], 
                                    { selected: params[:fuel_type], include_blank: 'Fuel Type' }, 
                                    class: 'form-control' %>
                </div>
                <div class="col-12 col-sm-3 mb-2">
                    <%= form.label :product_name, 'Items', class: 'col-form-label' %>
                    <%= form.text_field :product_name, value: params[:product_name], class: 'form-control' %>
                </div>
            </div>
            
            <!-- Second Row -->
            <div class="row align-items-center">
                <div class="col-12 col-sm-3 mb-2">
                    <%= form.label :shipment_start, 'Order Date', class: 'col-form-label' %>
                    <%= form.date_field :shipment_start, value: params[:shipment_start], class: 'form-control' %>
                </div>
                <div class="col-12 col-sm-3 mb-2">
                    <%= form.label :shipment_end, 'Delivery Date End', class: 'col-form-label' %>
                    <%= form.date_field :shipment_end, value: params[:shipment_end], class: 'form-control' %>
                </div>
            </div>
        </div>


          <div class="form-group row">
            <div class="col-md-3 mt-2">
              <%= form.submit 'Submit', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
     </div>

              <%# <div class="col-md-2"> %>
                <%# <%= form.label :city, 'Destination', class: 'col-form-label' %>
                <%# <%= form.text_field :city, value: params[:city], class: 'form-control' %>
              <%# </div> %>
              <%# <div class="col-md-3"> %>
                <%# <%= form.label :co2_emissions, 'CO2 Emissions', class: 'col-form-label' %>
                <%# <%= form.number_field :co2_emissions, value: params[:co2_emissions], class: 'form-control' %>
              <%# </div> %>
      <div class="table-container mt-3">
        <table class="table table-bordered table-hover text-center custom-table">
          <thead class="thead-dark">
            <tr class="table-row">
              <th class="align-middle"><%= link_to "Shipment No.", shipments_path(sort_by: 'shipment_id') %></th>
              <th class="align-middle"><%= link_to "Destination", shipments_path(sort_by: 'city') %></th>
              <th class="align-middle"><%= link_to "Items", shipments_path(sort_by: 'product_name') %></th>
              <th class="align-middle"><%= link_to "Order Date", shipments_path(sort_by: 'shipment_start') %></th>
              <th class="align-middle"><%= link_to "Delivery Date", shipments_path(sort_by: 'shipment_end') %></th>
              <th class="align-middle"><%= link_to "CO2 Emissions", shipments_path(sort_by: 'co2_emissions') %></th>
              <th class="align-middle"><%= link_to "Distance Traveled", shipments_path(sort_by: 'distance_traveled') %></th>
              <th class="align-middle"><%= link_to "Shipment Status", shipments_path(sort_by: 'status') %></th>
            </tr>
          </thead>
          <tbody class="tbody-index">
            <% @shipments.each do |shipment| %>
              <tr id="shipment-<%= shipment.id %>" data-shipment-id="<%= shipment.id %>">
                <td class="align-middle"><%= link_to shipment.id, shipment_path(shipment) %></td>
                <td class="align-middle"><%= link_to shipment.city, shipment_path(shipment) %></td>
                <td class="align-middle"><%= shipment.product_name %></td>
                <td class="align-middle"><%= shipment.shipment_start %></td>
                <td class="align-middle"><%= shipment.shipment_end %></td>
                <td class="align-middle"><%= shipment.co2_emissions %></td>
                <td class="align-middle">
                  <% if shipment.distance_traveled.present? && shipment.distance_traveled > 0 %>
                    <%= shipment.distance_traveled.round(2) %> km
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="align-middle" data-controller="status">
                  <%= form_for(shipment, url: shipment_path(shipment), method: :patch) do |f| %>
                    <%= hidden_field_tag :_method, 'patch' %>
                    <%= f.select :status, Shipment.statuses.keys, {},
                        class: 'form-control',
                        data: {
                          target: "status.select",
                          action: "change->status#updateStatus"
                        } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%# to be added in the tr below the others - remove the if false and the end below if you want the edit and delete to present %>
<% if false  %>
  <td class="align-middle">
    <%= link_to shipment_path(shipment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this shipment?' }, class: 'btn btn-outline-danger' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to edit_shipment_path(shipment) do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </td>
<% end %>

<script>
  // Function to update the current date and time
  function updateDateTime() {
    const currentDateTimeElement = document.getElementById('currentDateTime');
    const now = new Date();
    const options = {
      month: 'short', // Short month name (e.g., "Sep" for September)
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit',
      hour12: true, // Use 12-hour format (AM/PM)
    };
    const formattedDateTime = now.toLocaleDateString('en-US', options);
    currentDateTimeElement.textContent = formattedDateTime;
  }

  // Update the current date and time initially
  updateDateTime();

  // Set up a timer to update the date and time every second (1000 milliseconds)
  setInterval(updateDateTime, 1000);
</script>
