<ul>
  <% @shipments.each do |shipment| %>
    <li>
      <strong>Product Name:</strong> <%= shipment.product_name %><br>
      <strong>City:</strong> <%= shipment.city %><br>
      <strong>Vehicle Type:</strong> <%= shipment.vehicle_type %><br>
      <strong>Fuel Type:</strong> <%= shipment.fuel_type %><br>
      <strong>Fuel Consumption:</strong> <%= shipment.fuel_consumption %><br>
      <strong>CO2 Emissions:</strong> <%= shipment.co2_emissions %><br>
      <strong>Distance Traveled:</strong>
      <% if shipment.distance_traveled.present? && shipment.distance_traveled > 0 %>
        <%= shipment.distance_traveled.round(2) %> km
      <% else %>
        N/A
      <% end %><br>
    </li>
  <% end %>
</ul>

<%= link_to 'Add New Shipment', new_shipment_path %>
