<%= render "shared/master_navbar" %>

<div class= "container-new">
  <div class="container-banner"> </div>
</div>

<%# <%= image_tag('green_landscape.jpg', alt: "Banner Image", class: 'new-image') %>

<div class="banner-new">

  <div class="text-new">
    <div class="container1">

      <div class="first-text">
        <h5> Get insight into the data of your shipment! </h5>
      </div>

      <div class="first-logo">
        <%= image_tag('newpage-image2', class: 'new-image2') %>
      </div>

    </div>

    <div class="second-text">

      <div class="images3">

        <%= image_tag('shipping-new/shipping1.jpg', alt: "Banner Image", class: 'images-shipping-logo') %>
        <%= image_tag('shipping-new/shipping2.webp', alt: "Banner Image", class: 'images-shipping-logo') %>
        <%= image_tag('shipping-new/shipping3.png', alt: "Banner Image", class: 'images-shipping-logo') %>
        <%= image_tag('shipping-new/shipping4.png', alt: "Banner Image", class: 'images-shipping-logo') %>

      </div>

      <div class= "text2">

        <h3><br>
          Create a new shipment
        </h3>

      </div>

    </div>

  </div>

  <div class="col-lg-6">
   <div class="container-card-edit" style="width: 40rem ; mt-4; pl-4 ; p-1;">
    <div class="card-edit" style=" m-0 auto ; mt-3;">
      <div class="title-page" style="mt-2 ; mb-1 ; ml-2 ; text-center"><h1>Add Your Shipment</h1></div>
        <div class="card-form-edit " style="mt-5 ; ml-4 ; p-0 auto;">
        <%= render "form_new" %>
      </div>
    </div>
   </div>
  </div>
  </div>
 </div>


</div>
