 <%= render "shared/navbar" %>

 <section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <p class="level-item">
          <strong><h2>Shipment<%= @shipment.product_name %></h2></strong>
            <ul style="list-style-type:none;">
              <li><%= @shipment.city %></li>
              <li><%= @shipment.distance_traveled %></li>
              <li><%= @shipment.vehicle_type %></li>
              <li><%= @shipment.fuel_type %></li>
              <li><%= @shipment.fuel_consumption %></li>
              <li><%= @shipment.shipment_start %></li>
              <li><%= @shipment.shipment_end %></li>
              <li><%= @shipment.co2_emissions %></li>
              <li><%= @shipment.co2_emissions %></li>
              <li><%= @shipment.user_id %></li>
              <li><%= @shipment.created_at %></li>
              <li><%= @shipment.updated_at %></li>
            </ul>
        </p>
      </div>
    </nav>
  </div>
</section>



<%# ------------------------map-------------------------------- %>

<div class= "map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>


<%# ------------------------end of map---------------------------- %>
