
<h1>Show <%= @shipment.product_name %></h1>
<% @shipment.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 250, width: 100, crop: :fill, class: "card-img-top image-index" %>
<% end %>
<p><%= @shipment.city %></p>
<p><%= @shipment.distance_traveled %></p>
<p><%= @shipment.vehicle_type %></p>
<p><%= @shipment.fuel_type %></p>
<p><%= @shipment.fuel_consumption %></p>
<p><%= @shipment.shipment_start %></p>
<p><%= @shipment.shipment_end %></p>
<p><%= @shipment.co2_emissions %></p>
<p><%= @shipment.user_id %></p>
<p><%= @shipment.created_at %></p>
<p><%= @shipment.updated_at %></p>



<%# ------------------------map-------------------------------- %>

<div style="width: 700px; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<%# ------------------------end of map---------------------------- %>
