<% content_for :meta_title, "#{@shipment.city} is on #{DEFAULT_META["meta_name"]}" %>
<% content_for :meta_description, @shipment.product_name %>
<%# <% content_for :meta_image, cl_image_path(@shipment.end_location) if @shipment.end_location %>

<%= render "shared/master_navbar" %>
          <div class="container-banner">
          </div>
<div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Back to Shipments", shipments_path, class: "nav-link" %>
        </li>
      </ul>
  </div>
</div>
 <section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <p class="level-item">
          <strong><h2 style="color: green">Shipment of the <%= @shipment.product_name %></h2></strong>
          <br>
            <ul style="list-style-type:none;">
              <% @shipment.photos.each do |photo| %>
                <%= cl_image_tag url_for(photo), height: 250, width: 200, crop: :fill%>
              <% end %>
              <li> City: <%= @shipment.city %></li>
              <li> Distance traveled: <%= @shipment.distance_traveled %></li>
              <li> Vehicle type: <%= @shipment.vehicle_type %></li>
              <li> Fuel type: <%= @shipment.fuel_type %></li>
              <li> Fuel consumption: <%= @shipment.fuel_consumption %></li>
              <li> Shipment start: <%= @shipment.shipment_start %></li>
              <li> Shipment end: <%= @shipment.shipment_end %></li>
              <li> CO2 emissions: <%= @shipment.co2_emissions %></li>
              <li> User ID: <%= @shipment.user_id %></li>
              <li> Created at: <%= @shipment.created_at %></li>
              <li> Updated at: <%= @shipment.updated_at %></li>
              <small class="opacity-50 text-nowrap">Last updated <%= time_ago_in_words @shipment.updated_at %></small>
            </ul>
          <%= link_to shipment_path(@shipment), data: { controller: "delete-confirmation", action: "click->delete-confirmation#confirm" }, class: 'btn btn-outline-danger' do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to edit_shipment_path(@shipment) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </p>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
  <div class="d-flex gap-3 py-3">
  <%= link_to "Return to the previous page", shipments_path, class: "btn btn-outline-secondary" %>
</div>
  </nav>
</div>
</section>

<section class="section">
  <div class="container">
    <nav class="level-right">
<%# ------------------------map-------------------------------- %>
<div class= "map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>
<%# ------------------------end of map---------------------------- %>
    </nav>
  </div>
</section>
