<% content_for :meta_title, "#{@shipment.city} is on #{DEFAULT_META["meta_name"]}" %>
<% content_for :meta_description, @shipment.product_name %>
<%# <% content_for :meta_image, cl_image_path(@shipment.end_location) if @shipment.end_location %>

<%= render "shared/navbar" %>
<div class="container-banner mt-5"></div>
<div class="navbar navbar-expand-lg navbar-light mb-4">
<%= render "shared/master_navbar" %>
          <div class="container-banner">
          </div>
<div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Back to Shipments", shipments_path, class: "nav-link" %>
        </li>
      </ul>
  </div>
</div>

 <section class="section">
  <div class="container">
    <div class="row">

        <!-- Left side -->
        <div class="col-6">
          <div class="card u-clearfix">
            <div class="card-body">
              <strong><h2 style="color: green">The shipment of a <%= @shipment.product_name %></h2></strong>
                <br>
              <ul style="list-style-type:none;">
                <li> City: <%= @shipment.city %></li>
                <li> Distance traveled: <%= @shipment.distance_traveled %></li>
                <li> Vehicle type: <%= @shipment.vehicle_type %></li>
                <li> Fuel type: <%= @shipment.fuel_type %></li>
                <li> Fuel consumption: <%= @shipment.fuel_consumption %></li>
                <li> Shipment start: <%= @shipment.shipment_start %></li>
                <li> Shipment end: <%= @shipment.shipment_end %></li>
                <li> CO2 emissions: <%= @shipment.co2_emissions %></li>
                <small class="opacity-50 text-nowrap">Last updated <%= time_ago_in_words @shipment.updated_at %></small>
              </ul>
            </div>
            <div class="card-shadow"></div>
          </div>
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <p class="level-item">
          <strong><h2 style="color: green">Shipment of the <%= @shipment.product_name %></h2></strong>
          <br>
          <%= link_to shipment_path(@shipment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this shipment?' }, class: 'btn btn-outline-danger' do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to edit_shipment_path(@shipment) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
      </div>
      <div class="col-6">
        <% @shipment.photos.each do |photo| %>
          <%= cl_image_tag url_for(photo), height: 450, width: 400, crop: :fill, class: 'd-block mx-auto' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-3">
        <div class= "map-container"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
         <%= link_to "Return to the previous page", shipments_path, class: "btn btn-outline-secondary my-3" %>
      </div>
    </div>
  </div>
</section>
